    h1{color: rgb(15, 5, 161);
    background-color: lightsteelblue;}
    .raju, li{color: rgb(182, 13, 35);}
    #dip{font-size: large;font-weight: bold;}
    .disa{text-align: center;}
    .dipu, .dipa{background-color: rgb(178, 201, 178);}
    .rana{background-color:rgb(145,209,247); width:500px;}

    /* .hide{display: none;} */
    
    
